:root {
    --smokey-grey: #40434a;
    --nyanza: #d0e3cc;
    --mute-violet: #78586f;
    --blue-grey: #183642;
    --olive: #7a7552;
    --sunflower: #d58936;
    --black: #111;
    --white: #fff;
}

.body {
    background-color: #EFEDD7;
}

.body-header {
    display: flex;
    justify-content: space-between;
    background: var(--blue-grey);
    border: #183642 solid 10px;
    color: azure;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1 {
    position: relative;
    top: 43px;
    left: 4px;
    font-size: 45px;
}

.nav {
    display: flex;
    font-size: 25px;
    background-color: #78586f;
    position: relative;
    top: 70px;
    right: 10px;
    border: 2px dashed #d0e3cc;
    padding: 10px 50px 10px 10px;
    color: azure !important;
    text-decoration: underline #78586f;
}

a:link {
color: #EFEDD7;
text-decoration: none;
}

a:hover {
    color: #d58936 !important;
    font-weight: bolder;
    font-size: 110%;
}

a:active {
    color: #d58936;
}

a:visited {
    color: azure;
}

.ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: row;
    min-width: 400px;
    position: relative;
    margin: auto;
}

.li {
    display: list-item;
}

.main {
    display: block;
    flex-direction: column;
    max-width: 96%;
    margin: 70px 30px 30px 30px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 20px;
    height: auto;
}

#about-me {
    margin-left: 180px;
}

#my-work {
    margin-right: 200px;
}

.card-header {
    background-color: #183642;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: azure;
    position: relative;
}

.float-left {
    float: left;
    margin-right: 25px;
    height: 140px;
}

hr {
    border-top: 16px dotted #40434a;
    width: 402px;
}

.footer {
    text-align: center;
    background-color: #78586f;
 }

.ul-icon {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

h3 {
    color: white;
    font-size: 250%;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: black;
}

.icon {
    height: 50px;
    padding-left: 0px;
    padding-right: 20px;
    animation-duration: .9s;
    animation-iteration-count: 6;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease-out;
}

h4 {
    font-size: 120%;
    padding-top: 16px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-11px);
    }

    100% {
        transform: translateY(0);
    }
}


@media screen and (max-width: 768px) {

    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }
}